{% extends 'base.html.twig' %}

{% block title %}Cheese index{% endblock %}

{% block body %}
    <div class="container police">
    <h1 class="text-center mt-4">liste des fromage</h1>
        <a href="{{ path('admin_cheese_new') }}" class="btn btn-primary">Ajouter</a>
    <table class="table">
        <thead>
            <tr>

                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cheese in cheeses %}
            <tr>

                <td>{{ cheese.name }}</td>
                <td>

                    <a href="{{ path('admin_cheese_edit', {'id': cheese.id}) }}" class="btn btn-secondary">edit</a>

                    <form method="post" action="{{ path('admin_cheese_delete', {'id': cheese.id}) }}"
                          onsubmit="return confirm('ete vous sure de vouloir suprimer  {{ cheese.name }}?');" style="display: inline-block">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cheese.id) }}" >
                        <button class="btn btn-danger">Suprimer</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>


{% endblock %}
