{% extends 'base.html.twig' %}

{% block title %}index admin {% endblock %}

{% block body %}
<div class="container">
    <h2>Page d adminstration</h2>
    <div class="col-3 mt-4">
        <a href="{{ path('admin_opening_time_index') }}">changer les horaires</a>
    </div>
    <div class="col-3 mt-4">
        <a href="{{ path('admin_base_ingredient_index') }}">Gerer les ingredients des Bases</a>
    </div>
    <div class="col-3 mt-4">
        <a href="{{ path('admin_base_pizza_index') }}">Gerer les Bases des Pizzas</a>
    </div>
    <div class="col-3 mt-4">
        <a href="{{ path('admin_meat_index') }}">Gerer les viandes</a>
    </div>
    <div class="col-3 mt-4">
        <a href="{{ path('admin_fish_index') }}">Gerer les produits de la mer</a>
    </div>
    <div class="col-3 mt-4">
        <a href="{{ path('admin_legume_index') }}">Gerer les legumes</a>
    </div>
</div>

{% endblock %}
