{% extends 'base.html.twig' %}

{% block title %}Autre index{% endblock %}

{% block body %}
    <div class="container police">
    <h1>Liste des Autres</h1>
        <a href="{{ path('admin_other_new') }}" class="btn btn-primary">ajouter</a>
    <table class="table">
        <thead>
            <tr>

                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for other in others %}
            <tr>

                <td>{{ other.name }}</td>
                <td>

                    <a href="{{ path('admin_other_edit', {'id': other.id}) }}" class="btn btn-secondary">edit</a>
                    <form method="post" action="{{ path('admin_other_delete', {'id': other.id}) }}"
                          onsubmit="return confirm('ete vous sure de vouloir suprimer  {{ other.name }}?');" style="display: inline-block">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ other.id) }}" >
                        <button class="btn btn-danger">Suprimer</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    </div>
{% endblock %}
