{% extends 'base.html.twig' %}

{% block title %}Meat{% endblock %}

{% block body %}
    <h1>Meat</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ meat.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ meat.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_meat_index') }}">back to list</a>

    <a href="{{ path('admin_meat_edit', {'id': meat.id}) }}">edit</a>

    {{ include('admin/meat/_delete_form.html.twig') }}
{% endblock %}
