{% extends 'base.html.twig' %}

{% block title %}Liste des ingredient de base {% endblock %}

{% block body %}
    <div class="container police">
    <h1 class="text-center mt-4">Liste des ingredients de la base</h1>
        <a href="{{ path('admin_base_ingredient_new') }}" class="btn btn-primary mt-4">ajouter</a>

    <table class="table mt-4">
        <thead>
            <tr>

                <th>nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for base_ingredient in base_ingredients %}
            <tr>

                <td>{{ base_ingredient.name }}</td>
                <td>

                    <a href="{{ path('admin_base_ingredient_edit', {'id': base_ingredient.id}) }}" class="btn btn-secondary">modifier</a>
                    <form method="post" action="{{ path('admin_base_ingredient_delete', {'id': base_ingredient.id}) }}"
                          onsubmit="return confirm('ete vous sure de vouloir suprimer  {{ base_ingredient.name }}?');" style="display: inline-block">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ base_ingredient.id) }}" >
                        <button class="btn btn-danger">Suprimer</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>


{% endblock %}
