{% extends 'base.html.twig' %}

{% block title %}Liste des Pizzas{% endblock %}

{% block body %}
    <div class="container police ">
    <h1 class="text-center mt-5">Liste des Pizzas</h1>
        <a href="{{ path('admin_pizza_new') }}" class="btn btn-primary mt-5">ajouter</a>
    <table class="table mt-5 ">
        <thead class="">
            <tr class="">

                <th class="">Nom</th>
                <th class="">Base</th>
                <th class="">Prix</th>
                <th class="">Actions</th>

            </tr>
        </thead>
        <tbody>
        {% for pizza in pizzas %}
            <tr>

                <td class="">{{ pizza.name }}</td>
                <td class="">{{ pizza.basepizza.name }}</td>
                <td class="">{{ pizza.price }}</td>
                <td class="">

                    <a href="{{ path('admin_pizza_edit', {'id': pizza.id}) }}" class="btn btn-secondary">modifier</a>

                    <form method="post" action="{{ path('admin_pizza_delete', {'id': pizza.id}) }}"
                          onsubmit="return confirm('ete vous sure de vouloir suprimer  {{ pizza.name }}?');" style="display: inline-block">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pizza.id) }}" >
                        <button class="btn btn-danger">Suprimer</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
