{% extends 'base.html.twig' %}

{% block title %}Liste des Pizzas{% endblock %}

{% block body %}
    <div class="container police ">
    <h1 class="text-center mt-5">Liste des Pizzas</h1>
        <a href="{{ path('admin_pizza_new') }}" class="btn btn-primary mt-5">ajouter</a>
    <table class="table mt-5 ">
        <thead class="">
            <tr class="">

                <th class="">Nom</th>
                <th class="">Base</th>
                <th class="">Prix</th>
                <th class="">Actions</th>

            </tr>
        </thead>
        <tbody>
        {% for pizza in pizzas %}
            <tr>

                <td class="">{{ pizza.name }}</td>
                <td class="">{{ pizza.basepizza.name }}</td>
                <td class="">{{ pizza.price }}</td>
                <td class="">
                    <a href="{{ path('admin_pizza_edit', {'id': pizza.id}) }}" class="btn btn-primary">modifier</a>
                    <a href="{{ path('admin_pizza_delete', {'id': pizza.id}) }}" class="btn btn-danger">Suprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
